@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
@media (min-width: 768px) {
  body {
    font-size: 1.2em;
  }
}
body .container {
  padding: 0 7%;
}
@media (min-width: 1024px) {
  body .container {
    padding: 0 15%;
  }
}
body .container h1 {
  font-family: "Bree Serif", serif;
  font-size: 1.5em;
}
body .container p {
  font-weight: bold;
}
body .container li {
  list-style: none;
}
body .container img {
  max-width: 100%;
}

header {
  background-color: #8d7cc2;
}
header nav {
  display: grid;
  padding: 7.5% 10%;
  color: white;
}
@media (min-width: 768px) {
  header nav {
    padding: 4% 0;
    grid-template-columns: auto auto;
  }
}
header nav .header-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
header nav .header-title img {
  width: 10.5%;
  margin-left: 8%;
}
@media (min-width: 768px) {
  header nav .header-title img {
    width: 10%;
  }
}
header nav .header-name {
  padding-top: 9px;
}
header nav .header-formHome {
  margin-top: 10px;
  font-size: 1.3em;
}
@media (min-width: 768px) {
  header nav .header-formHome {
    display: flex;
    justify-content: flex-end;
  }
}
header nav .header-formHome .fa-home,
header nav .header-formHome .fa-table-tennis {
  color: white;
}
@media (min-width: 768px) {
  header nav .header-formHome .fa-home,
header nav .header-formHome .fa-table-tennis {
    font-size: 1.6em;
  }
}
header nav .header-formHome .fa-home:hover,
header nav .header-formHome .fa-table-tennis:hover {
  color: #d1c9e7;
}
header nav .header-formHome .fa-table-tennis {
  margin-left: 5px;
}

main {
  padding-top: 10px;
  background-color: white;
  border-radius: 10px 10px 0 0;
}
main .score {
  padding-top: 10px;
  font-size: 0.9em;
}
main .score nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  background-color: #eeeeee;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .score nav .score-allGames {
  display: flex;
}
main .score nav .score-allGames .score-allGames-animate {
  margin-left: 10px;
  width: 18px;
  cursor: pointer;
}
main .score nav button, main .score nav .score-allGames {
  margin: 0 5%;
}
main .score nav button {
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #9f8bdb;
  background-color: #b7abdaa4;
}
main .score nav .score-search {
  display: flex;
  flex-wrap: wrap;
}
main .score nav .score-search input {
  width: 100%;
  margin-top: 2px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
main .score .match-items {
  margin: 5% 0;
  color: #4c28b9;
}
main .score .match-items .match-items-layout {
  padding: 3%;
  background-color: #b7abdaa4;
  width: 80%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 60% 10% 15%;
  border-radius: 5px;
}
main .score .match-items .match-items-layout div:first-of-type p {
  padding: 5px 0;
}
main .score .match-items .match-items-layout div:nth-of-type(2), main .score .match-items .match-items-layout div:last-of-type {
  align-self: center;
  justify-self: flex-end;
  width: 30px;
}
main .score .match-items .match-items-layout div:nth-of-type(2) img, main .score .match-items .match-items-layout div:last-of-type img {
  width: 15px;
  cursor: pointer;
}
main .score .match-items .match-items-layout div:nth-of-type(2) {
  cursor: pointer;
  color: red;
}
main .score .match-items .match-items-styleWinner {
  width: 80%;
  padding: 4.5%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 0, 0.589);
  border-radius: 5px;
}

.Information-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #EEEEEE;
  padding: 20px;
  margin-bottom: 10px;
}
.Information-form h5 {
  padding-bottom: 15px;
  font-size: 1em;
}
.Information-form form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Information-form form input[type=text],
.Information-form form input[type=number],
.Information-form form input[type=date] {
  width: 100%;
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.Information-form .Information-next {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
.Information-form .Information-next button[type=button] {
  background-color: #8d7cc2;
  font-size: 0.9em;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.Information-form .Information-next button[type=button]:hover {
  background-color: #45a049;
}

/*# sourceMappingURL=style.css.map */
